[Desktop Entry]

Type=Application

Encoding=UTF-8

Name=Lírico AI

Comment=Lírico AI transcreve e traduz áudio offline no computador.

Exec=buzz

Icon=LiricoAI

Terminal=false

Categories=AudioVideo;
