[Desktop Entry]

Type=Application

Encoding=UTF-8

Name=Transcript

Comment=Transcript transcribes and translates audio offline on your personal computer.

Exec=buzz

Icon=Transcript

Terminal=false

Categories=AudioVideo;
